$filterbar-background: #F7F5F2
$filterbar-background-active: #85BC29

.filterbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 50
  background-color: white
  padding: 20px 0
  margin-bottom: 20px

.filterbar__container
  @include outer-container

.filterbar__list-container
  @include span-columns(8)

.filterbar__counter-container
  @include span-columns(4)
  text-align: right

.filterbar__label
  margin-right: 8px
