.linklist
  display: inline-block
  list-style: none

.linklist__item
  display: inline-block
  margin: 0 3px

.linklist__link
  display: inline-block
  padding: 0 14px 2px
  border-radius: 20px
  background-color: $filterbar-background
  color: #8D877F

.linklist__link--active
  background-color: $filterbar-background-active
  color: #fff