@import "bourbon"

$recipe-border-color: #eeeae4
$recipe-border-radius: 6px

.recipe
  position: relative
  display: inline-block
  background-color: white
  border-radius: $recipe-border-radius
  border-bottom: 3px solid $recipe-border-color

.recipe__header
  position: relative

  .properties
    position: absolute
    bottom: 20px
    left: 10px
    pointer-events: none

.recipe__thumbnail
  display: block
  position: relative
  padding-bottom: 62.82051282%
  overflow: hidden
  z-index: 0
  background-color: #fff
  border-radius: $recipe-border-radius $recipe-border-radius 0 0

  // TODO: Add loading state

  &:before
    position: absolute
    width: 100%
    bottom: 0
    height: 12px
    content: ""
    z-index: 5
    background-image: image-url("spikes.svg")
    background-position: left bottom
    background-repeat: repeat-x

.recipe__image
  position: absolute
  width: 100%

.recipe__body
  padding: 12px 20px 18px

.recipe__title
  display: block
  font-size: em(22)
  color: #736d66
  word-wrap: break-word

  &:hover,
  &:focus,
  &:active
    color: darken( #736d66, 10 )
    text-decoration: none

.recipe__meta
  color: #a5a09a

.recipe--has-ribbon
  .ribbon
    position: absolute
    top: 20px
    right: -5px
    z-index: 10
    pointer-events: none

.recipe--has-hover
  @include transition( border-bottom .1s ease-out )  
  
  .recipe__thumbnail
    @include transition( opacity .1s ease-out )
  
  &:hover,
  &:focus,
  &:active
    border-bottom-color: darken( $recipe-border-color, 10 )
    .recipe__thumbnail
      opacity: .8