$ribbon-background-color: #85BC29

.ribbon
  position: relative
  display: inline-block
  padding: 5px 24px 7px 26px
  background-color: $ribbon-background-color
  color: white
  line-height: 1
  border-radius: 0 4px 0 4px
  box-shadow: 0 2px 3px rgba( black, .35 )

.ribbon__fold-up
  position: absolute
  left: 0
  top: -8px
  width: 6px
  bottom: 0
  border-radius: 4px 0 0 4px
  background: lighten( $ribbon-background-color, 10 )

  &:after
    position: absolute
    left: 0
    bottom: 0
    height: 8px
    width: 6px
    border-radius: 10px 0 0 10px
    background: $ribbon-background-color
    content: ""

.ribbon__fold-back
  position: absolute
  right: 0
  bottom: -5px
  width: 5px
  height: 5px
  background: $ribbon-background-color

  &:after
    position: absolute
    right: 0
    bottom: -5px
    height: 10px
    width: 5px
    border-radius: 0 10px 10px 0
    background: darken( $ribbon-background-color, 10 )
    content: ""

.ribbon__body
  min-height: $base-font-size