@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tab-focus"
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/_image"

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff
//** Global text color on `<body>`.
$text-color:            #666

//** Global textual link color.
$link-color:            #27ae60
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%)
//** Link hover decoration.
$link-hover-decoration: underline


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-serif:       Georgia, "Times New Roman", Times, serif
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base:        $font-family-sans-serif

$font-size-base:          14px
$font-size-large:         ceil(($font-size-base * 1.25)) // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) // ~18px
$font-size-h5:            $font-size-base
$font-size-h6:            ceil(($font-size-base * 0.85)) // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit
$headings-font-weight:    500
$headings-line-height:    1.1
$headings-color:          inherit

//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing

html
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: inherit


// Body reset

html 
  font-size: 16px
  -webkit-tap-highlight-color: rgba(0,0,0,0)


body 
  font-family: $font-family-base
  font-size: $font-size-base
  line-height: $line-height-base
  color: $text-color
  background-color: $body-bg


// Reset fonts for relevant elements
input,
button,
select,
textarea 
  font-family: inherit
  font-size: inherit
  line-height: inherit



// Links

a 
  color: $link-color
  text-decoration: none

  &:hover,
  &:focus 
    color: $link-hover-color
    text-decoration: $link-hover-decoration
  

  &:focus 
    @include tab-focus



// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure 
  margin: 0



// Images

img 
  vertical-align: middle


// Responsive images (ensure images don't scale beyond their parents)
.img-responsive 
  @include img-responsive

// Perfect circle
.img-circle 
  border-radius: 50% // set radius in percents



// Horizontal rules

hr 
  margin-top:    $line-height-computed
  margin-bottom: $line-height-computed
  border: 0
  border-top: 1px solid #ccc



// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only 
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0


// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

.sr-only-focusable 
  &:active,
  &:focus 
    position: static
    width: auto
    height: auto
    margin: 0
    overflow: visible
    clip: auto
  



// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// Upstream patch for normalize.css submitted: https://github.com/necolas/normalize.css/pull/379 - remove this fix once that is merged

[role="button"] 
  cursor: pointer
