@import "bourbon"
@import "neat"

@import "bootstrap-sass/assets/stylesheets/bootstrap/_normalize"
@import "font-awesome/scss/font-awesome"
@import "scafffolding"
@import "base/base"

@import "filterbar"
@import "linklist"
@import "recipe"
@import "ribbon"

html
  height: 100%

body
  height: 100%
  background-color: #F7F5F2

#app
  position: relative
  padding-top: 90px

.loader
  position: relative
  min-height: 200px

.ulist
  list-style: none

.ulist__icon
  margin-right: 6px

.ulist--inline
  margin-left: -5px

  .ulist__item
    display: inline-block
    padding-left: 5px
    padding-right: 5px

.recipe-grid
  @include outer-container
  @include column-count(3)
  @include column-gap(1em)

  .recipe-container
    // -webkit-column-break-inside: avoid
    // -moz-column-break-inside: avoid
    // -ms-column-break-inside: avoid
    // -o-column-break-inside: avoid
    // column-break-inside: avoid
    // @include span-columns(4)
    // @include omega(3n)
    // margin-bottom: 20px
    display: inline-block
    width: 100%
    margin: 0 0 1em
    @include backface-visibility(hidden)

    .recipe
      display: block

.properties
  list-style: none
  
.properties__item
  display: inline-block
  width: 42px
  height: 42px
  margin: 0 2px
  text-indent: -999999px
  background-image: image-url("properties.svg")
  background-position: 999px 999px
  background-repeat: no-repeat

.property__item--meat
  background-position: 0 -84px

.property__item--fish
  background-position: 0 -126px

.property__item--vegetarian
  background-position: 0 -168px

.property__item--vegan
  background-position: 0 -210px
  
.property__item--glutenfree
  background-position: 0 0px
  
.property__item--lactosefree
  background-position: 0 -42px

.pagination
  text-align: center
  padding: 40px 0

.pagination__container
  @include outer-container